PATH_add $PWD/bin
export VAULT_LICENSE=$(cat ~/Downloads/vault4.hclic)
export VAULT_INIT_OUTPUT=$PWD/docker-compose/scripts/vault.json
watch_file $VAULT_INIT_OUTPUT
if [[ -f $VAULT_INIT_OUTPUT ]]; then
  export VAULT_TOKEN=$(cat $VAULT_INIT_OUTPUT| jq -r '.root_token')
fi

